<% if @results.any? %>
<ul class='unstyled'>
  <% @results['FAIL'].each do |result| %>
    <li>
      <p class='error message'>
      Failure: <%= result['title'] %><br />
      Severity: <%= result['severity'] %><br />
      </p>
      <ul>
        <% result['element_names'].each do |name| %>
          <li><%= name %></li>
        <% end %>
      </ul>
    </li>
  <% end %>

  <% @results['PASS'].each do |result| %>
    <li>
      <p class='success message'>
        Passing: <%= result['title'] %><br />
      </p>
    </li>
  <% end %>

  <% @results['NA'].each do |result| %>
    <li>
      <p class='info message'>
        Not applicable: <%= result['title'] %><br />
      </p>
    </li>
  <% end %>
</ul>
<% end %>
