<section class="main-description">
  <div class="container">
    <%= render "shared/art_sun.svg" %>
    <div class="description-content">
      <p>
        AccessLint alerts you of common accessibility issues on a page. While no automated testing tool can give a complete picture of accessibility, AccessLint can catch some of the “low hanging fruit” of accessibility errors. That includes checking for alternative text on images, color contrast, and valid usage of <abbr title="Accessible Rich Internet Applications">ARIA</abbr> roles and attributes.
      </p>
      <%= link_to "Run Audit","#url", class: "button" %>
    </div>
  </div>
  <hr class="description-detail-rule">
  <hr class="description-detail-rule">
</section>

<section class="main-featuredby">
  <div class="container">
    <h2 class="featuredby-title">Featured By…</h2>
    <ul class="featuredby-list">
      <li class="featuredby-list-item">
        <%= render "shared/logo_w3c.svg" %>
      </li>
      <li class="featuredby-list-item">
        <%= render "shared/logo_fluent.svg" %>
      </li>
      <li class="featuredby-list-item">
        <%= render "shared/logo_treehouse.svg" %>
      </li>
      <li class="featuredby-list-item">
        <%= render "shared/logo_ruby5.svg" %>
      </li>
    </ul>
    <footer class="featuredby-footer">
      and more…
    </footer>
  </div>
</section>

<%= render "shared/audit_form" %>
