<section class="main-sessions sessions-signin">
  <div class="container">
    <div class="sessions-formcard">
      <h2><%= t '.title' %></h2>

      <p><%= t '.description' %></p>

      <%= form_for :password, url: passwords_path do |form| %>
        <div class="sessions-formcard-emailfield">
          <%= form.label :email %>
          <%= form.text_field :email, type: 'email' %>
        </div>

        <div class="sessions-formcard-emailfield-submitfield">
          <%= form.submit class: "submitfield-submit" %>
        </div>
      <% end %>
    </div>
  </div>
</section>
