<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <title>AccessLint</title>
  <link href="http://fonts.googleapis.com/css?family=Anonymous+Pro:400,700" rel="stylesheet">
  <%= stylesheet_link_tag "application", media: "screen", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</head>
<body>
  <header class="app-header" role="banner">
    <div class="container">
      <h1><%= render 'shared/logo_accesslint.svg' %></h1>
      <h2 class="app-tagline">Test Your Site’s Accessability</h2>
    </div>
  </header>
  <main class="screen-main" role="main">
    <div class="container">
      <p>
        AccessLint alerts you of common accessibility issues on a page. While no automated testing tool can give a complete picture of accessibility, AccessLint can catch some of the “low hanging fruit” of accessibility errors. That includes checking for alternative text on images, color contrast, and valid usage of <abbr title="Accessible Rich Internet Applications">ARIA</abbr> roles and attributes.
      </p>
      <form class="audit-form" action="/" method="get" novalidate>
        <fieldset>
          <label for="url">URL to Test</label>
          <%= url_field_tag :url, @url, placeholder: 'http://www.example.com',
              required: true %>
          <p class="help-text">Try auditing <%= link_to "W3C's example of an inaccessible site", root_path(url: "http://www.w3.org/WAI/demos/bad/before/home.html") %></p>
          <button type="submit">Run Audit</button>
        </fieldset>
      </form>
      <div>
        <%= link_to "Signup for free trial of AccessLint Pro", "http://eepurl.com/-YCgP" %>
        <%= yield %>
      </div>
    </div>
  </main>
  <%= render 'shared/footer' %>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-45991240-1', 'accesslint.com');
    ga('send', 'pageview');
  </script>
</body>
</html>
