<!DOCTYPE html>
<html>
<head>
  <title>AccessLint</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
  <%= stylesheet_link_tag("application", :media => "screen") %>
  <!--[if IE]>
  <link type="text/css" rel="stylesheet" href="/assets/groundworkcss/groundwork-ie.css">
  <![endif]-->
  <!--[if IE 7]>
  <link type="text/css" rel="stylesheet" href="/assets/groundworkcss/font-awesome-ie7.min.css">
  <![endif]-->
  <%= javascript_include_tag("application") %>
  <script type="text/javascript">
    // SVG support?
    Modernizr.load({
      test: Modernizr.inlinesvg,
      yep: [
        "/assets/groundworkcss/social-icons-svg.css"
      ],
      nope: [
        "/assets/groundworkcss/social-icons-png.css",
        "/assets/sidereel-ie/svg-to-png.js"
      ]
    });
    // HTML5 placeholder support?
    Modernizr.load({
      test: Modernizr.input.placeholder,
      nope: [
        '/assets/groundworkcss/placeholder_polyfill.css',
        '/assets/groundworkcss/libs/placeholder_polyfill.jquery.js'
      ]
    });
  </script>
</head>
<body>
  <a href="https://github.com/ckundo/access-lint"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
  <div class='container'>
    <div class='row'>
      <h1>AccessLint</h1>
      <h2>Check for accessibility errors on a webpage.</h2>
      <%= form_tag '/', method: 'get' do %>
        <fieldset>
          <%= label_tag 'url', 'URL' %>
          <%= url_field_tag :url, @url, placeholder: 'http://www.example.com' %>
          <button type='submit'>Run</button>
        </fieldset>
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check for accessibility errors on a webpage with AccessLint" data-size="large" data-dnt="true">Tweet</a>
      <% end %>

      <%= yield %>
      <p>Created by <%= link_to "Cameron Cundiff", "http://pivotallabs.com/author/ccundiff/" %> using the <%= link_to "AccessLint Rubygem", "http://rubygems.org/gems/access_lint" %>, that includes Google's <%= link_to "Accessibility Developer Tools", "https://github.com/GoogleChrome/accessibility-developer-tools" %> audit rules.</p>
    </div>
  </div>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</body>
</html>
