<!DOCTYPE html>
<html>
<head>
  <title>AccessLint</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
  <%= stylesheet_link_tag("application", :media => "screen") %>
  <!--[if IE]>
  <link type="text/css" rel="stylesheet" href="/assets/groundworkcss/groundwork-ie.css">
  <![endif]-->
  <!--[if IE 7]>
  <link type="text/css" rel="stylesheet" href="/assets/groundworkcss/font-awesome-ie7.min.css">
  <![endif]-->
  <%= javascript_include_tag("application") %>
  <script type="text/javascript">
    // HTML5 placeholder support?
    Modernizr.load({
      test: Modernizr.input.placeholder,
      nope: [
        '/assets/groundworkcss/placeholder_polyfill.css',
        '/assets/groundworkcss/libs/placeholder_polyfill.jquery.js'
      ]
    });
  </script>
</head>
<body>
  <div class='container'>
    <header class='padded'>
      <h1 class="museo-slab"><%= link_to 'AccessLint', root_path %></h1>
      <p class='large'>Check for accessibility errors on a webpage.</p>
    </header>
    <div class='row padded'>
      <div class='two centered thirds'>
        <form action='/' method='get'>
          <fieldset>
            <%= label_tag :url %>
            <%= url_field_tag :url, @url, placeholder: 'http://www.example.com', required: true, class: 'four fifths large' %>
            <button type='submit' class='large gap-left'>Run</button>
          </fieldset>
        </form>
      </div>
    </div>
    <div class='row padded'>
      <div class='two centered thirds'>
        <%= yield %>
      </div>
    </div>
    <footer class='row padded'>
      <div class='five centered eighths'>
        <p class='pull-left'>Powered by <%= link_to "Accessibility Developer Tools", "https://github.com/GoogleChrome/accessibility-developer-tools" %>. Get the <%= link_to 'Chrome extension', 'https://chrome.google.com/webstore/detail/accessibility-developer-t/fpkknkljclfencbdbgkenhalefipecmb?hl=en' %>.</p>
        <p class='pull-right'>Created and maintained by <%= link_to "Cameron Cundiff", "http://twitter.com/ckundo" %>.
      </div>
    </footer>
  </div>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-45991240-1', 'accesslint.com');
    ga('send', 'pageview');

  </script>
</body>
</html>
